footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.login {
  padding-top: 130px;
}
.login .container .row h1 {
  text-align: left;
  font-size: 30px;
}
.login .container .row input {
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
}
